<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--
            Name
    -->
    <display-name>kVASySystemControlWebAccess</display-name>
    <!--
            Welcome File
    -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
            Session & Login
    -->
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure Area</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GETLIB</http-method>
            <http-method>COPY</http-method>
            <http-method>MOVE</http-method>
            <http-method>DELETE</http-method>
            <http-method>PROPFIND</http-method>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>MKCOL</http-method>
            <http-method>PROPPATCH</http-method>
            <http-method>LOCK</http-method>
            <http-method>UNLOCK</http-method>
            <http-method>VERSION-CONTROL</http-method>
            <http-method>CHECKIN</http-method>
            <http-method>CHECKOUT</http-method>
            <http-method>UNCHECKOUT</http-method>
            <http-method>REPORT</http-method>
            <http-method>UPDATE</http-method>
            <http-method>CANCELUPLOAD</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Protected</role-name>
        </auth-constraint>
    </security-constraint>
    <!--
            Exclude JS Scripts and Css
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Exclude from Security</web-resource-name>
            <url-pattern>/public/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/exec/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-role>
        <role-name>Protected</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>LDAP</realm-name>
        <form-login-config>
            <form-login-page>/login</form-login-page>
            <form-error-page>/loginError</form-error-page>
        </form-login-config>
    </login-config>
    
    <!--
        Monitoring
    -->
    
    <servlet>
        <servlet-name>PrepareMonitoring</servlet-name>
        <servlet-class>de.siv.webinstaller.PrepareMonitoring</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepareMonitoring</servlet-name>
        <url-pattern>/exec/PrepareMonitoring</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnprepareMonitoring</servlet-name>
        <servlet-class>de.siv.webinstaller.UnprepareMonitoring</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnprepareMonitoring</servlet-name>
        <url-pattern>/exec/UnprepareMonitoring</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FillMonitoringDefault</servlet-name>
        <servlet-class>de.siv.webinstaller.FillMonitoringDefault</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FillMonitoringDefault</servlet-name>
        <url-pattern>/exec/FillMonitoringDefault</url-pattern>
    </servlet-mapping>
    
    <!--
            Servlets & Mapping Index
    -->
    
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>de.siv.systemcontrol.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>de.siv.systemcontrol.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginError</servlet-name>
        <servlet-class>de.siv.systemcontrol.LoginError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginError</servlet-name>
        <url-pattern>/loginError</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>de.siv.systemcontrol.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserBasicsScript</servlet-name>
        <servlet-class>de.siv.script.UserBasics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBasicsScript</servlet-name>
        <url-pattern>/script/UserBasics.js</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TacticalOverview</servlet-name>
        <servlet-class>de.siv.script.TacticalOverview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TacticalOverview</servlet-name>
        <url-pattern>/script/TacticalOverview.js</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>de.siv.script.UserProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/script/UserProfile.js</url-pattern>
    </servlet-mapping>
    
    <!--
        Modules
    -->
    
    <servlet>
        <servlet-name>ManagedServices</servlet-name>
        <servlet-class>de.siv.systemcontrol.ManagedServices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagedServices</servlet-name>
        <url-pattern>/ManagedServices</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagedServiceBasics</servlet-name>
        <servlet-class>de.siv.script.ManagedServiceBasics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagedServiceBasics</servlet-name>
        <url-pattern>/script/ManagedServiceBasics.js</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Monitoring</servlet-name>
        <servlet-class>de.siv.systemcontrol.Monitoring</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Monitoring</servlet-name>
        <url-pattern>/Monitoring</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonitoringBasics</servlet-name>
        <servlet-class>de.siv.script.MonitoringBasics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringBasics</servlet-name>
        <url-pattern>/script/MonitoringBasics.js</url-pattern>
    </servlet-mapping>
    
</web-app>
